<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Configuration</title>
        <input-field type="bool">
            <name>showListing</name>
            <label>Show properties in listing</label>
        </input-field>

        <input-field type="bool">
            <name>showSlider</name>
            <label>Show properties in slider element</label>
        </input-field>

        <input-field type="bool">
            <name>showBox</name>
            <label>Show properties in box element</label>
        </input-field>
    </card>

</config>
